.container {
    max-width: 720px; 
}

.table-md td {
    padding: 0.5rem;
}

.dt-bootstrap4 {
    width: 100% !important;
}

.progress-bar {
    width: 100%;
}

.alert {
    width: 100%;
}

.hidden {
    visibility: hidden;
}

.gone {
    display: none;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner {
    -moz-appearance:textfield;
}

.sp-divider {
    padding: .375rem .4rem;
}

.chart {
   height: 300px;
   width: 100%;
}

.news {
    width: 100%;
}

.news-item {
    min-height: 7rem;
}

.logo {
    width: 64px;
    display: block;
    margin: auto;
}

.source {
    font-size: 11px;
}