.container {
    max-width: 720px; 
}

.table-md td {
    padding: 0.5rem;
}

.dt-bootstrap4 {
    width: 100% !important;
}

.btn-del-row {
    font-weight: 700;
}

.progress-bar {
    width: 100%;
}

.alert {
    width: 100%;
}

.hidden {
    visibility: hidden;
}

.gone {
    display: none !important;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner {
    -moz-appearance:textfield;
}

.sp-divider {
    padding: .375rem .4rem;
}

.chart-sector {
   height: 300px;
   width: 100%;
}

.chart-stock {
    height: 300px;
    width: 100%;
 } 

.news {
    width: 100%;
}

.news-item {
    min-height: 7rem;
}

.logo {
    width: 64px;
    display: block;
    margin: auto;
}

.source {
    font-size: 11px;
}

.holding-spinner {
    width: 4rem; 
    height: 4rem;
    margin: 1.5rem;
}

.price-data {
    width: 20%;
}

.latest-price {
    font-size: 11px;
}

.oi-caret-top, .positive {
    color: green;
}

.oi-caret-bottom, .negative {
    color: red;
}