{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/canvas/canvasjs.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/output.js') }}"></script>
{% endblock %}

{% block content %}
<!--Proxy Tag for chart data-->
<meta id="chart_data" data-charts="{{ sector_data }}">

<div class="row py-4">
    <div id="chart-sector" class="chart-sector"></div>
</div>
<hr>
<div class="row py-4">
    <table class="table table-striped table-bordered table-sm table-hover" id="output-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Ticker</th>
                <th>Sector</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            {% for holding in data %}
            <tr>
                <td class="c2"><a href="{{ holding.link }}">{{ holding.name }}</a></td>
                <td class="c2">{{ holding.ticker }}</td>
                <td class="c2">{{ holding.sector }}</td>
                <td class="c2">{{ holding.weight }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<hr>
<div class="row py-4">
    <ul class="list-group news" id='news'>
        {% for news in news_data %}
        <li class="list-group-item news-item gone">
            <div class="media">
                <img src="{{ news.image_url }}" class="mr-3 logo" alt="">
                <div class="media-body">
                    <span class="source text-muted">{{ news.source }} &vert; {{ news.datetime|strftime }}</span>
                    <a href="{{ news.url }}">
                        <h6 class="mt-0">{{ news.title }}</h6>
                    </a>
                    {{ news.description|truncate(170) }}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="row pb-5">
    <button type="button" class="btn btn-secondary" onclick="back()">Back</button>
    <div class="col text-center">
        <button type="button" class="btn btn-outline-secondary" id="btn-news" onclick="load_news_section()">More News</button>
    </div>
</div>
<div class="modal fade" id="holding-data" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center" id="spinner">
                    <div class="spinner-border holding-spinner" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id="modal-data" class="gone">
                    <div class="col text-center price-data">
                        <div class="row">
                            <span class="latest-price text-muted w-100"><span id="title"></span> Current Price</span>
                        </div>
                        <div class="row">
                            <h4 class="w-100">$<strong id="price"></strong></h4>
                        </div>
                        <div class="row">
                            <h6 class="w-100" id="change-header">
                                <span class="oi oi-caret-top caret gone" aria-hidden="true"></span>
                                <span class="oi oi-caret-bottom caret gone" aria-hidden="true"></span>
                                <span id="change"></span>
                            </h6>
                        </div>
                        <div class="row">
                            <span class="latest-price text-muted w-100" id="date"></span>
                        </div>
                    </div>
                    <hr>
                    <div class="pb-2">
                        <div id="chart-stock" class="chart-stock"></div>
                    </div>
                    <hr>
                    <div class="pb-2 mx-2">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th class="text-nowrap" scope="row">Previous Close</th>
                                    <td id="">xx</td>
                                </tr>
                                <tr>
                                    <th class="text-nowrap" scope="row">Height</th>
                                    <td>tt</td>
                                </tr>
                                <tr>
                                    <th class="text-nowrap" scope="row">Width</th>
                                    <td colspan="5">yy</td>
                                </tr>
                                <tr>
                                    <th class="text-nowrap" scope="row">Length</th>
                                    <td colspan="5">zz</td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<template id="tooltip">
    <span class="text-muted">Date: {x}</span>
    <hr class="tooltip-hr">
    <table class="tooltip-table">
        <tr>
            <td class="tooltip-left">Open</td>
            <td>{y[0]}</td>
        </tr>
        <tr>
            <td class="tooltip-left">High</td>
            <td>{y[1]}</td>
        </tr>
        <tr>
            <td class="tooltip-left">Low</td>
            <td>{y[2]}</td>
        </tr>
        <tr>
            <td class="tooltip-left">Close</td>
            <td>{y[3]}</td>
        </tr>
        <tr>
            <td class="tooltip-left">Volume</td>
            <td>{label[0]}</td>
        </tr>
        <tr>
            <td class="tooltip-left">% Change</td>
            <td>{label[1]}</td>
        </tr>
    </table>
</template>
{% endblock %}