{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/canvas/canvasjs.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/output.js') }}"></script>
{% endblock %}

{% block content %}
<!--Proxy Tag for chart data-->
<meta id="chart_data" data-charts="{{ sector_data }}">

<div class="row py-4">
    <div id="chartContainer" class="chart"></div>
</div>
<hr>
<div class="row py-4">
    <table class="table table-striped table-bordered table-sm" id="output-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Ticker</th>
                <th>Sector</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            {% for holding in data %}
            <tr>
                <td class="c2"><a href="{{ holding.link }}">{{ holding.name }}</a></td>
                <td class="c2">{{ holding.ticker }}</td>
                <td class="c2">{{ holding.sector }}</td>
                <td class="c2">{{ holding.weight }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<hr>
<div class="row py-4">
    <ul class="list-group news" id='news'>
        {% for news in news_data %}
        <li class="list-group-item news-item gone">
            <div class="media">
                <img src="{{ news.image_url }}" class="mr-3 logo" alt="">
                <div class="media-body">
                    <span class="source text-muted">{{ news.source }} &vert; {{ news.datetime|strftime }}</span>
                    <a href="{{ news.url }}">
                        <h6 class="mt-0">{{ news.title }}</h6>
                    </a>
                    {{ news.description|truncate(170) }}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="row pb-5">
    <button type="button" class="btn btn-secondary" onclick="back()">Back</button>
    <div class="col text-center">
        <button type="button" class="btn btn-outline-secondary" id="btn-news" onclick="load_news_section()">More News</button>
    </div>
</div>
{% endblock %}